.oembed-container {
  position: relative;
}
.oembed-container .oembed-wrapper {
  position: relative;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.oembed-container iframe,
.oembed-container object,
.oembed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
